body{
    margin: 1em;
    background-color: rgb(44, 35, 35);
}
.container{
    max-width: 75%;
    background-color: black;
    color: white;
    padding: 3em;
    font-family: 'Courier New', Courier, monospace;
}
.tema{
    margin: 1.5%;
    padding: 1.5%;
    border: 3px solid rgb(211, 211, 211);
}
.titulo{
    margin: 2em;
}
.codigo{
    border: 3px solid gray;
    margin: 1em;
}
.cursiva{
    font-style: italic;
}